{
    "env": {
        "browser": true,
        "node": true
    },

    "plugins": [
        "react"
    ],

    "extends": "eslint-config-airbnb",

    "rules": {
        "arrow-body-style": 0
    }
}
